<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu_open</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">The Pomodoro technique?</a>
      <a mat-list-item href="#">How does Pomodore work?</a>
      <a mat-list-item href="#">What Pomodore can do for you</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <h1>Pomodore</h1>
    </mat-toolbar>
    <section>
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
