<section class="main-container">
  <section class="timer-container content-padding">
    <section class="display">
      <h2>25:00</h2>
      <h3>Time to focus!</h3>

      <section class="action">
        <button class="button">Start</button>
        <button class="button">Reset</button>
      </section>

    </section>
  </section>

  <section class="text-container content-padding">
    <h2>What is the Pomodore Technique?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id dignissim mauris. Maecenas placerat porta
      aliquet. Nam tempus viverra felis in luctus. Curabitur suscipit libero sed congue vulputate. Nunc non nunc ac sem
      feugiat sagittis a non lorem. </p>
  </section>

  <section class="text-container content-padding">
    <h2>What is the Pomodore Technique?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id dignissim mauris. Maecenas placerat porta
      aliquet. Nam tempus viverra felis in luctus. Curabitur suscipit libero sed congue vulputate. Nunc non nunc ac sem
      feugiat sagittis a non lorem. </p>
  </section>

  <section class="text-container content-padding">
    <h2>What is the Pomodore Technique?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id dignissim mauris. Maecenas placerat porta
      aliquet. Nam tempus viverra felis in luctus. Curabitur suscipit libero sed congue vulputate. Nunc non nunc ac sem
      feugiat sagittis a non lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
      egestas. Aliquam erat volutpat. Phasellus a congue tellus. Sed quis turpis ipsum. Ut quis aliquet magna, non
      sodales ipsum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec
      vitae purus odio. </p>
  </section>
</section>
